@font-face {
    font-family: comfortaa;
    src: url(Comfortaa-VariableFont_wght.ttf);
}



body {
    background-color: #778899 ;
}

header {
    background-color: #DCDCDC ;
    border-radius: 15px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
}

.txt {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 75px;
    font-family: comfortaa;
    
    padding-left: 20px;
    
}

.sub {
    font-size: 50px;
    font-family: comfortaa;
  
    padding-left: 120px;
    
}

.illustration {
    width: 500px;
    border-radius: 20px ;
    margin-top: 30px;
    
    
    
    
}


.title {
    font-size: 50px;
    font-family: comfortaa;
    display: flex;
    justify-content: center;
}

.images1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 200px;
}

.work1 {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: 4px 0 0 4px;
    box-shadow: 0 0 0 4px #24b3b3;
}

.work2 {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: 4px 0 0 4px;
    box-shadow: 0 0 0 4px #24b3b3;
}

.work3 {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: 4px 0 0 4px;
    box-shadow: 0 0 0 4px #24b3b3;
}

.work1:hover {
    transform: scale(1.05);
}

.work2:hover {
    transform: scale(1.05);
}

.work3:hover {
    transform: scale(1.05);
}

footer {
    font-family: comfortaa;
    font-size: 20px;
    background-color: #DCDCDC;
    
}

.txtfooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    
}
a:visited {
    color: black;
}

.git:hover {
    color:#24b3b3;
    transform: scale(1.1)
}

.linkedin:hover {
    color:#24b3b3;
    transform: scale(1.1)
}

.cv:hover {
    color:#24b3b3;
    transform: scale(1.1)
}

.whoiam:hover {
    color:#24b3b3;
    transform: scale(1.1)
}


@media screen and (min-width: 360px) {
    header {
        background-color: #DCDCDC ;
        border-radius: 15px;
        max-height: 200px;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .name {
        font-size: 38px;
        font-family: comfortaa;
        
        padding-left: 10px;
    }
    .illustration {
       opacity: 0; 
    }
    .sub {
        font-size: 25px;
        font-family: comfortaa;
      
        padding-left: 60px;
    }
    .title {
        font-size: 25px;
        font-family: comfortaa;
        display: flex;
        justify-content: center;
    }
        .images1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-content: space-evenly;
            align-items: center;
            gap: 1em;
            margin-bottom: 200px;
        }
        .work1 {
            width: 200px;
            height: 200px;
            border-radius: 20px;
            margin: 4px 0 0 4px;
            box-shadow: 0 0 0 4px #24b3b3;
        }
        
        .work2 {
            width: 200px;
            height: 200px;
            border-radius: 20px;
            margin: 4px 0 0 4px;
            box-shadow: 0 0 0 4px #24b3b3;
        }
        
        .work3 {
            width: 200px;
            height: 200px;
            border-radius: 20px;
            margin: 4px 0 0 4px;
            box-shadow: 0 0 0 4px #24b3b3;
        }
        footer {
            font-family: comfortaa;
            font-size: 12px;
            background-color: #DCDCDC;
            
        }
}

@media screen and (min-width: 769px) {
    header {
        background-color: #DCDCDC ;
        border-radius: 15px;
        max-height: 500px;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        flex-direction: row;
    }
    
    .txt {
        display: flex;
        flex-direction: column;
    }
    
    .name {
        font-size: 75px;
        font-family: comfortaa;
        
        padding-left: 20px;
        
    }
    
    .sub {
        font-size: 50px;
        font-family: comfortaa;
      
        padding-left: 120px;
        
    }
    
    .illustration {
        width: 500px;
        border-radius: 20px ;
        margin-top: 30px;
        
        
        
        
    }
    
    
    .title {
        font-size: 50px;
        font-family: comfortaa;
        display: flex;
        justify-content: center;
    }
    
    .images1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
        margin-bottom: 200px;
    }
    
    .work1 {
        width: 300px;
        height: 300px;
        border-radius: 20px;
        margin: 4px 0 0 4px;
        box-shadow: 0 0 0 4px #24b3b3;
    }
    
    .work2 {
        width: 300px;
        height: 300px;
        border-radius: 20px;
        margin: 4px 0 0 4px;
        box-shadow: 0 0 0 4px #24b3b3;
    }
    
    .work3 {
        width: 300px;
        height: 300px;
        border-radius: 20px;
        margin: 4px 0 0 4px;
        box-shadow: 0 0 0 4px #24b3b3;
    }
    
    .work1:hover {
        transform: scale(1.05);
    }
    
    .work2:hover {
        transform: scale(1.05);
    }
    
    .work3:hover {
        transform: scale(1.05);
    }
    
    footer {
        font-family: comfortaa;
        font-size: 20px;
        background-color: #DCDCDC;
        
    }

}

@media screen and (min-width: 1025px) {
    header {
        background-color: #DCDCDC ;
        border-radius: 15px;
        max-height: 500px;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        flex-direction: row;
    }
    
    .txt {
        display: flex;
        flex-direction: column;
    }
    
    .name {
        font-size: 75px;
        font-family: comfortaa;
        
        padding-left: 20px;
        
    }
    
    .sub {
        font-size: 50px;
        font-family: comfortaa;
      
        padding-left: 120px;
        
    }
    
    .illustration {
        width: 500px;
        border-radius: 20px ;
        margin-top: 30px;
        
        
        
        
    }
    
    
    .title {
        font-size: 50px;
        font-family: comfortaa;
        display: flex;
        justify-content: center;
    }
    
    .images1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
        margin-bottom: 200px;
    }
    
    .work1 {
        width: 300px;
        height: 300px;
        border-radius: 20px;
        margin: 4px 0 0 4px;
        box-shadow: 0 0 0 4px #24b3b3;
    }
    
    .work2 {
        width: 300px;
        height: 300px;
        border-radius: 20px;
        margin: 4px 0 0 4px;
        box-shadow: 0 0 0 4px #24b3b3;
    }
    
    .work3 {
        width: 300px;
        height: 300px;
        border-radius: 20px;
        margin: 4px 0 0 4px;
        box-shadow: 0 0 0 4px #24b3b3;
    }
    
    .work1:hover {
        transform: scale(1.05);
    }
    
    .work2:hover {
        transform: scale(1.05);
    }
    
    .work3:hover {
        transform: scale(1.05);
    }
    
    footer {
        font-family: comfortaa;
        font-size: 20px;
        background-color: #DCDCDC;
        
    }

}