:root {
    --red: #A41623;
    --orange: #F85E00;
    --rajah: #FFB563;
    --champagne:#FFD29D;
    --gold: #918450;
}





body {
    background-image: url(fond.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Fuzzy Bubbles', cursive;
}

header {
    background-image: url(fond2.svg);
    border-radius: 15px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
    font-family: 'Fuzzy Bubbles', cursive;
    color: var(--orange);
}

.txt {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 75px;
    font-family: 'Pacifico', cursive;
    
 
    
}

.sub {
    font-size: 50px;
    
  
 
    
}

.illustration {
    width: 300px;
    border-radius: 20px ;
    margin-top: 30px;
    opacity: 0;
    box-shadow: 0 0 0 4px #F29E4C
    
    
    
    
}


.title {
    font-size: 50px;
    
    display: flex;
    justify-content: center;
}

.images1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 200px;
}

.work1 {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: 4px 0 0 4px;
    box-shadow: 0 0 0 4px #F29E4C;
}

.work2 {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: 4px 0 0 4px;
    box-shadow: 0 0 0 4px #F29E4C;
}

.work3 {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: 4px 0 0 4px;
    box-shadow: 0 0 0 4px #F29E4C;
}

.work1:hover {
    transform: scale(1.05);
}

.work2:hover {
    transform: scale(1.05);
}

.work3:hover {
    transform: scale(1.05);
}

footer {
    
    font-size: 30px;
    
}

.txtfooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

footer p {
    text-shadow: 2px 2px white;
}
a {
    text-decoration: none;
    
    
}

a p {
    color: black;
}
a:visited {
    color: black;
}

.git:hover {
    color:#24b3b3;
    transform: scale(1.1)
}

.linkedin:hover {
    color:#24b3b3;
    transform: scale(1.1)
}

.cv:hover {
    color:#24b3b3;
    transform: scale(1.1)
}

.whoiam:hover {
    color:#24b3b3;
    transform: scale(1.1)
}

/*Mobile*/

@media screen and (min-width: 0px) {
    header {
        background-color: var(--red) ;
        min-width: 360px;
        border-radius: 15px;
        max-height: 200px;
        display: flex;
        justify-content: center;
        justify-items: center;
        color: var(--orange);
        
       
       
    }
    .name {
        font-size: 38px;
        font-family: 'Pacifico', cursive;

    }
    .illustration {
       opacity: 0;
       width: 1px;
    }
    .sub {
        font-size: 25px;
        
        display: flex;
        justify-content: center;

        
    }
    .title {
        font-size: 25px;
        
        display: flex;
        justify-content: center;
    }
        .images1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-content: space-evenly;
            align-items: center;
            gap: 1em;
            margin-bottom: 200px;
        }
        .work1 {
            width: 200px;
            height: 200px;
            border-radius: 20px;
            margin: 4px 0 0 4px;
            box-shadow: 0 0 0 4px #24b3b3;
        }
        
        .work2 {
            width: 200px;
            height: 200px;
            border-radius: 20px;
            margin: 4px 0 0 4px;
            box-shadow: 0 0 0 4px #24b3b3;
        }
        
        .work3 {
            width: 200px;
            height: 200px;
            border-radius: 20px;
            margin: 4px 0 0 4px;
            box-shadow: 0 0 0 4px #24b3b3;
        }
        footer {
            
            font-size: 12px;
            max-width: auto;
            
        }
}
/*Tablet */
@media screen and (min-width: 769px) {
    header {
        background-color: var(--red) ;
        min-width: 360px;
        border-radius: 15px;
        max-height: 350px;
        display: flex;
        justify-content: center;
        justify-items: center;
        color: var(--orange);
        
       
       
    }
    .name {
        font-size: 50px;
        font-family: 'Pacifico', cursive;

    }
    .illustration {
       opacity: 0;
       width: 1px;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .sub {
        font-size: 35px;
        
        display: flex;
        justify-content: center;

        
    }
    .title {
        font-size: 50px;
        
        display: flex;
        justify-content: center;
    }
        .images1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-content: space-evenly;
            align-items: center;
            gap: 20px;
            margin-bottom: 200px;
        }
        .work1 {
            width: 300px;
            height: 300px;
            border-radius: 20px;
            margin: 4px 0 0 4px;
            box-shadow: 0 0 0 4px #24b3b3;
        }
        
        .work2 {
            width: 300px;
            height: 300px;
            border-radius: 20px;
            margin: 4px 0 0 4px;
            box-shadow: 0 0 0 4px #24b3b3;
        }
        
        .work3 {
            width: 300px;
            height: 300px;
            border-radius: 20px;
            margin: 4px 0 0 4px;
            box-shadow: 0 0 0 4px #24b3b3;
        }
        footer {
            
            font-size: 15px;
            ;
            max-width: auto;
            
        }

}
/* pc */
@media screen and (min-width: 1025px) {
    header {
        background-color: var(--red) ;
        border-radius: 15px;
        max-height: 500px;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        flex-direction: row;
        color: var(--orange);
        
    }
    
    .txt {
        display: flex;
        flex-direction: column;
    }
    
    .name {
        font-size: 75px;
        font-family: 'Pacifico', cursive;
        
     
        
    }
    
    .sub {
        font-size: 50px;
        
      
     
        
    }
    
    .illustration {
        width: 300px;
        border-radius: 20px ;
        margin-top: 30px;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
   
        
        
        
        
    }
    .title {
        font-size: 50px;
       
        display: flex;
        justify-content: center;
    }
        .images1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-content: space-evenly;
            align-items: center;
            gap: 2em;
            margin-bottom: 200px;
        }
        .work1 {
            width: 400px;
            height: 400px;
            border-radius: 20px;
            margin: 4px 0 0 4px;
            box-shadow: 0 0 0 4px #F29E4C;
        }
        
        .work2 {
            width: 400px;
            height: 400px;
            border-radius: 20px;
            margin: 4px 0 0 4px;
            box-shadow: 0 0 0 4px #F29E4C;
        }
        
        .work3 {
            width: 400px;
            height: 400px;
            border-radius: 20px;
            margin: 4px 0 0 4px;
            box-shadow: 0 0 0 4px #F29E4C;
        }
        footer {
            
            font-size: 30px;
            
            max-width: auto;
            
        }

}